@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&display=swap');

h1 {
    color:#002D62
}

.navMenu a:hover {
    color: #fddb3a;
  }

  .navLink a:hover {
    color: #fddb3a;
  }

  .gridItem a {
    text-decoration: none;
    color: black;
  }

* {
    font-family: 'Tomorrow', sans-serif;
    background-color:  #add8e6;
  }

.navMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 111px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 grey;
}

body {
  height: 125vh;
  background-size: cover;
  margin-top: 111px;
  padding: 10px;
}

header * {
  display: inline;
  background-color: white;
}

header li {
  margin: 20px;
  font-size: 25px;
}

header li a {
  color: #002D62;
  text-decoration: none;
}

header img {
  height: 80px;
  float: left;
  margin: 0 0 0 25px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

section li a {
  text-decoration: none;
  color: black;
}

.contactME ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.contactME img {
  position: relative;
  top: 18px;
}

.About ul {
  display: flex;
  flex-flow: wrap column;
  max-height: 150px;
  width: 1000px;
}

#arrow {
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:10px;
  height:10px;
  transform: rotate(-45deg);
  margin-top:40px;
}

.About ul li {
  padding-bottom: 10px;
  list-style:none;
}

.About ul li:before {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  content: "";
  display: inline-block;
  margin-right: 10px;
}

.gridCon {
  display: grid;
  column-gap: 60px;
  grid-template-columns: 225px 225px 225px;
  padding: 10px;
  
}

.gridItem {
  border: 1px solid;
  padding: 15px;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  border: solid 4px black;
  transition: box-shadow 0.15s;
  color: whitesmoke;
  background-color: whitesmoke;
}

.gridItem a {
  background-color: whitesmoke;
}

.gridItem img {
  background-color: whitesmoke;
}

.gridItem:hover {
  box-shadow: 15px 5px 2px grey;
}

/*Greeting Animation*/
.notif {
  position: fixed;
  display: inline-block;
  left: 90vw;
  font-size: 17px;
  max-width: 250px;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: white;
  color: #002D62;
  box-shadow: 0 1px 10px gray;
  transform: translateY(30px);
  opacity: 1;
  visibility: hidden;
  animation: fade 4s linear forwards;
}

@keyframes fade {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes progress {
  to {
    width: calc(100% -10px);
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

footer {
  margin-bottom: 30px;
}

.AB {
  line-height: 2;
}